/* color */
:root {
  --primary-color: #007bff;
  --secondary-color: #ffc107;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --text-secondary: #495057;
}

/* body of the page */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  position: relative;
}

/* titles */
h1,h2,h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

h1 {
  display: inline-flex;
  align-items: center;
}

/* images */
img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* Liens */
a {
  color: var(--text-secondary);
  font-size: 1.1rem;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 70px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

button:hover:active {
  background-color: #0056b3;
}

/* header section */
.header-section {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.logo-container,
.nav-container,
.navbar-icon {
  flex: 1;
  text-align: start;
}

.navbar-icon {
  text-align: end;
  display: none;
}

/* searchbar-container */
.searchbar-container {
  text-align: end;
  width: 100%;
  font-size: 1.1rem;
}

.searchbar-container input {
  width: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 1rem;
  position: relative;
  
}

.searchbar-container input::placeholder {
  color: #333;
  opacity: 0.5;
}

.searchbar-container .search-icon {
  position: absolute;
  top: 38%;
  right: 23px;
  opacity: 0.7;
  color: #333;
  cursor: pointer;
}

.searchbar-container .search-icon:hover,
.searchbar-container .search-icon:hover {
  color: #212529;
}

.close-navbar {
  display: none;
}

/* logo-container */
.logo-container p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.logo-container img {
  width: 50px;
  border-radius: 5px;
}

/* nav-container */
.nav-container {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-list li {
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.nav-list li:last-child {
  margin-right: 20px;
}

.file {
  display: block;
}

.file.hidden {
  display: none;
}

/* main-content */
.main-content {
  width: 100%;
  margin: 0 auto;
  
}

/* Conteneur du canvas */
#globet {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Canvas */
#globet canvas {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* desciption-container */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(135deg, #004aad, #0099cc);
  color: #fff;
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.hero-content {
  max-width: 60%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: white;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f8f9fa;
}

.hero-button {
  padding: 0.8rem 1.5rem;
  background-color: #ff9500;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero-button:hover {
  background-color: #ff7800;
}

.hero-img img {
  width: 100%;
  height: 100%;
  height: auto;
  border-radius: 50%; 
}

.rotating-globe {
  display: inline-block;
  width: 500px;
  height: auto;
  overflow: hidden;
  border-radius: 50%; 
  animation: spin 10s linear infinite;
  opacity: 0.9;
}

@keyframes spin {
  from  {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* vpn choise */
.npv-section {
  padding-bottom: 30px;
  background-color: #f8f9fa;
  text-align: center;
  line-height: 1.2;
}

.npv-section .container-cont {
  width: 100%;
  position: relative;
  padding: 5px 0 30px;
  margin-bottom: 50px;
}

.container-cont h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--text-color);
}


.container-cont .button-left {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.container-cont .button-right {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.container-cont .button-right, .container-cont .button-left {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  color: #0099cc;
  transition: background-color 0.3s ease;
}


.container-cont .button-right:hover,
.container-cont .button-left:hover,
.container-cont .button-right:active,
.container-cont .button-left:active {
  background-color: #0099cc;
  color: var(--background-color);
}

.npv-section .container {
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0 10px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.npv-section .container::-webkit-scrollbar {
  display: none;
}

.npv-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.npv-section .desciption-section {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.npv-section .container {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.npv-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  min-width: 250px;
  line-height: 1.1;
}

.npv-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.npv-content p {
  font-size: 1rem;
  color: #555;
  margin: .5rem 0;
}

.npv-content img {
  max-width: 90px;
}

.npv-content ul {
  text-align: start;
  list-style: none;
  width: 100%;
  padding-left: 0;
  line-height: 1.4;
  margin: 0;
  margin-top: 1rem;
}

.npv-content ul li {
  font-size: .9rem;
}

.npv-content ul li:nth-child(2) span {
  color: #f8f80f;
}

.npv-section 
.container-cont:nth-child(6) ul li:nth-child(2) 
span {
  color: #02e002;
}

.npv-content ul li span,
.npv-content ul li a {
  margin-left: 10px;
  font-size: .9rem;
}

.npv-content button {
  min-width: 40px;
  padding: 12px 60px;
  margin: 5px auto auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

/* module */
.modal-conatainer,
.modal-conatainer2 {
  position: fixed;
  background-color: #21252916;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  display: none;
  text-align: center;
}

.modal-conatainer2.active{
  display: block;
}
.modal-conatainer.active {
  display: block;
}

.modal {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  margin-top: 150px;
  padding-top: 3px;
  padding-bottom: 25px;
  position: relative;
  border-radius: 10px;
  line-height: 1.1rem;
}

.modal .close-modalContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.1rem;
  padding: 0 8px;
  border-radius: 3px;
  cursor: pointer;
}

.close-modalContainer:hover,
.close-modalContainer:active  {
  border: 1px solid red;
  color: red;
}

.modal-conatainer .modal h3,
.modal-conatainer2 .modal h3{
  font-size: 1.8rem;
  margin: 30px 0;
}

.modal-conatainer .modal ul,
.modal-conatainer2 .modal ul  {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

.modal-conatainer .modal ul li,
.modal-conatainer2 .modal ul li {
  background-color: #007bff;
  margin-bottom: 20px;
  padding: 13px 0;
  font-size: 1.1rem;
  border-radius: 8px;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.modal ul li:last-child {
  margin-bottom: 0;
}

.modal ul li:hover:first-child,
.modal ul li:active:first-child  {
  background-color: #02e002;
}

.modal ul li:hover:last-child,
.modal ul li:active:last-child {
  background-color: #0099cc;
}

/* id-input-container */
.id-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.id-input-container p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #0099cc;
}



.id-input-container textarea {
  width: 90%;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 5px;
  background-color: #dddddd4e;
  border: 1px solid #007bff;
}

.id-input-container a {
  background-color: #ff9500;
  width: 100px;
  margin: auto;
  display: inline-block;
  padding: 7px 10px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-size: .9rem;
  transition: background-color 0.3s ease, transform 0.3s;
  cursor: pointer;
}

.id-input-container a:hover {
  transform: scale(1.03);
  background-color: #ff7800;
}
.id-input-container a:active {
  transform: scale(1);
}

.confirme-action, .confirme-action2 {
  color: #fff;
  display: none;
  padding-left: 10px;
  font-size: 1rem;
}



/* installation-container */
.installation-guide {
  padding: 40px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}

.installation-guide h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.installation-guide p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.installation-steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.step {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.step h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
  text-align: left;
}

.step p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
  text-align: left;
}

.step img {
  max-width: 90%;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  border-radius: 10px;
  background-color: #0099cc;
}

/* Effet au survol  */
.step:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



/* fat-section */
.fat-section {
  padding: 40px 20px;
  background-color: var(--background-color);
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
}

.fat-section h3 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.faq-container, .message-container {
  flex: 1;
  color: white;
  background-color: var(--background-color);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.fat-question {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  border: none;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.fat-question:hover {
  background-color: #0056b3;
}

.faq-answer {
  padding: 0 15px;
  font-size: 1rem;
  color: #555;
  border-top: 1px solid #ddd;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

/* Afficher la réponse lorsqu'elle est active */
.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 15px;
}

/* message-container */
.message-container {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-content  {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: auto;
  align-items: center;
}

.info-content input {
  font-size: 1.1rem;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box; 
  color: var(--text-color);
  letter-spacing: 2px;
  border-radius: 5px;
  border: 1px solid var(--text-secondary);
  background-color: #fff;
}

.info-content input:last-child {
  margin-bottom: 0;
}

.message-content {
  width: 95%;
}

.message-content textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--text-secondary);
}

.message-container button {
  padding: 13px;
  min-width: 200px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}



/* footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #212529;
  color: #fff;
}

/* responssible */
@media (max-width: 767.5px) {
  .all-container1 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .hero-section {
    flex-direction: column;
    padding: 1rem;
    gap: 20px;
    width: 100%;
    margin: auto;
  }

  .hero-content {
    max-width: 100%;
  }

  .rotating-globe {
    max-width: 70%;
  }

  .fat-section {
    flex-direction: column;
  }

  .faq-container {
    background-color: transparent;
  }

  .npv-section .container {
    gap: 15px;
  }

  .searchbar-container input {
    width: 100%;
    padding: .5rem;
    font-size: 1.1rem;
    box-sizing: border-box;
  }

  .searchbar-container .search-icon {
    position: absolute;
    top: 85px;
    right: 15px;
    opacity: 0.7;
    color: #007bff;
  }

  .nav-container {
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
    flex-direction: column-reverse;
    background-color: #f8f9fa;
    padding: 0;
    padding-top: 80px;
    height: 100vh;
    justify-content: start;
    gap: 20px;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px 0;
  }

  .nav-list li, .nav-list li:last-child {
    background-color: #007bff;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: .4rem 0;
    border-radius: 5px 0 0 5px;
  }

  .nav-list li a {
    color: #fff;
    text-decoration: none;
  }

  .close-navbar {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    transition: border 0.3s ease, color 0.3s ease;
    display: block;
  }

  .close-navbar:hover,
  .close-navbar:active {
    border: 1px solid red;
    color: red;
    padding: 0 5px;
  }

  .navbar-icon {
    display:  block;
  }

}

@media (max-width: 480px) {
  .nav-container {
    flex: 2;
  }

  .all-img {
    gap: 10px;
  }

  .title-container p {
    padding: 0 10px;
    text-align: center;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  .main-content {
    width: 95%;
    margin:  0 auto;
  }

  .hero-section {
    padding: .5rem;
  }

  .hero-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .fat-section {
    padding: 40px 0;
  }

  .modal h3 {
    font-size: 1.8rem;
  }

  .modal ul li {
    font-size: 1.05rem;
  }

  .modal {
    margin:  auto 10px;
    margin-top: 150px;
  }

  .form-content  {
    gap: 20px;
    width: 100%;
  }
}

@media (max-width: 347.5px) {
  .module h3 {
    font-size: 1.6rem;
  }
}